<h1>User's Info</h1>

<h5>Username: <%= @user.username %></h5>
<h5>Email: <%= @user.username %></h5>
<h5>Years of Experience: <%= @user.years_exp %></h5>
<h5>Country: <%= @user.country %></h5>
<h5>Programming skills: <%= @user.prog_lang %></h5>