<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <%= link_to('Project Management', root_path, class: 'nav-item nav-link active navbar-brand') %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to('Projects', projects_path, class: 'nav-item nav-link active') %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to('New Project', new_project_path, class: 'nav-item nav-link active') %>
      </li>
      <li class="nav-item">
        <%= link_to("Log out", destroy_user_session_path, method: :delete, class: 'nav-item nav-link active') %>
      </li>
      <li class="nav-item">
        <%= link_to("Profile", user_path(current_user), class: 'nav-item nav-link active') %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to("Login", new_user_session_path, class: 'nav-item nav-link active') %>
      </li>
      <li class="nav-item">
        <%= link_to("SignUp", new_user_registration_path, class: 'nav-item nav-link active') %>
      <li>
      <% end %>
    </ul>
  </div>
</nav>