<%= form_for @project do |f| %>

  <div class="input-field col s6">
      <%= f.label :name, 'Name'%>
      <%= f.text_field :name%>
  </div>

  <div class="input-field col s6">
      <%= f.label :description, 'Description' %>
      <%= f.text_area :description %>
  </div>

  <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
<% end %>