<p class="notice "><%= notice %></p>
<h1 class="h1">All Projects</h1>
<% if user_signed_in? %>
  <%= link_to "Add New Project", new_project_path, { :class => "btn btn-light" } %>
<% end %>
<br><br>

<table class="table table-striped">
  <thead class="thead-dark">
    <th scope="col">Project name</th>
    <th scope="col">By</th>
    <th scope="col">Status</th>
    <th scope="col">Posted at</th>
           <% if user_signed_in? %>
    <th scope="col">Edit</th>
    <th scope="col">Destroy</th>
          <% end %>

  </thead>
  <% @projects.each do |project| %>

      <tr scope="row">
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= link_to project.user.name, user_path(project.user) %></td>
        <td><%= project.status %></td>
        <td><%= project.created_at.strftime("%d/%m/%Y") %></td>
        <% if user_signed_in? %>
          <% if current_user == project.user || current_user.admin %>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'You sure??' } %></td>
         
          <% else %>
          <td></td>
          <td></td>
          <% end %>

        <% end %>
      </tr>
  <% end %>
</table>
