<div class="container">
  <div class="row">
    <div class="col">
    

<h1><%= @project.name %> Project</h1>
<h4>Owner: <%= link_to @project.user.name, user_path(@project.user) %></h4>
<h4>Project status: <%= @project.status %></h4>
<% if current_user == @project.user %>
    <%= form_for @project do |f| %>
    <div class="">
      <%= f.label :status, 'Change status:'%>
      <%= f.select :status, ['Proposed', 'Active', 'Done'], selected: 'Proposed' %>
    </div>
    <%= f.submit "Submit New Status", :class => "btn btn-light" %>
    <% end %>
      <%= link_to 'Edit Project', edit_project_path, class: "btn btn-light" %>
<% end %>
<p><%= @project.description %></p>
    </div>

    <div class="col">
    <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <%# <th>Nom</th> %>
      <th>Task name</th>
      <th>Task</th>
      <th>By</th>
      <th>Status</th>
      <th>Posted at</th>
          <% if user_signed_in? %>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Create</th>
          <% end %>
    </tr>
  </thead>
  <tbody>
  <% @project.tasks.each do |task| %>
      <tr>
        <td scope="row"><%= task.name %></td>
        <td><%= task.task %></td>
        <td><%= task.user.name %></td>
        <td><%= task.status %></td>
        <td><%= task.created_at.strftime("%d/%m/%Y") %></td>
        <% if user_signed_in? %>
          <% if current_user == @project.user || current_user == task.user %>
              <td><%= link_to 'Edit', edit_project_task_path(@project, task) %></td>
              <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'You sure??' } %></td>
          <% else %>
              <td></td>
              <td></td>
          <% end %>
          <td></td>
        <% end %>
      </tr>
  <% end %>
  <% if user_signed_in? %>
    <tr>
    <%= render partial: 'tasks/form' %>
    </tr>
  </tbody>
  <% end %>
</table>
    </div>
  </div>
</div>